doctype html
html
  head
    title Bosscamp

    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    link(href="/css/app.css" rel="stylesheet" type="text/css")

    script(src="/js/jquery-1.11.0.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/handlebars-v1.3.0.js")
    script(src="/js/moment-with-langs.js")
    //-script(src="/js/appcache.js")
  body
    .container
      nav.header
        h1(href="/")
          span Bosscamp
          block header

      .clear

      .left-bar

      #content.content
        h1 Thanks!

        a(href="/") Back

    block templates

