
extends application

block header
  | Something something features something

block left_bar
  h3.upgrade Upgrade Now<br> <span>for</span><br><em>FEATURES</em>

  .buttons
    a(href="/") &laquo; Never Mind
    br
    a.btn.btn-lg.btn-primary(href="#") Take my money &raquo;

block content
  .feature.low
    h4 Basic
    ul
      li A thing
      li Another thing
    .price $9.99/month

  .feature.med
    h4 Premium
    ul
      li A thing
      li Another thing
      li Something great
      li Cool feature
    .price $79.99/month

  .feature.high
    h4 SUPER ULTRA
    ul
      li A thing
      li Another thing
      li Something great
      li Cool feature
      li Amazing thing!
      li So great!
    .price $199.99/month

